* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    max-height: 100vh;
    height: 100%;
}

header, .container-image1 {
    min-height: 400px;
    max-height: 400px;
    overflow: hidden;
}

.logo, .title, nav {
    position: absolute;
}

.logo {
    top: 350px;
    right: 2.5rem;
}

.logo {
    width: 100px;
}

.image1 {
    object-fit: cover;
    width:100%;
    height:50vh;
}

.title {
    font-size: 3.5em;
}

.sub-title {
    background-color: black;
    color: white;
    text-align: center;
    padding: .25rem;
}

nav {
    top: 440px;
}

nav > a {
    display: block;
    padding: .75rem 1rem 2rem;
}

article {
    padding: .75rem 1rem .75rem 9rem;
}

p {
    text-indent: 1em;
}

.img-hockey1 {
    position: absolute;
    z-index: -100;
    max-width: 100vw;
    opacity: .4;
    object-fit: cover;
    width:100%;
    height: 52vh;
}